<section class="section-form">
    <form  method="POST" name="contact">
        {% csrf_token %}
        <h2>Get in touch?</h2>
        <p>Feel free to reach out if you're looking for a developer, have a question, or just want to connect.</p>
        <input type="text" name="contact_name" placeholder="Full Name" required />
        <input type="email" name="contact_email" placeholder="Email" required />
        
        <div class="submit">
            <textarea name="contact_message" placeholder="Message" required></textarea>
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
</section>
