{% extends 'base.html' %}
{% load static %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BG7MB85VSL"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BG7MB85VSL');
    </script>
    {% block title %}
    <title>A R S D</title>
    {% endblock title %}
    {% block css_file %}
    {% include "temp/css.html" %}
    {% endblock css_file %}
    <!-- <link rel="icon" type="image/x-icon" href="images/logo.png" />  -->
    
    {% block content %}
    
    <main class = "projects-page">
        {% include "temp/nav.html" %}

        <section class="section">
            <div class="project">
                <div class="projects-title">
                    <h2 style="padding-top:30px">{{project.name}}</h2>
                </div>
                <div class="all-frames">
                    {% for i in project.project_item.all %}
                    <a href="{{i.project_link}}" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>{{i.title}}</h3>
                                <p>{{i.date.year}}</p>
                            </div>
                            <p>{{i.descriptions}}<br/><br/>Used: {{i.language}}</p>
                            <p class="something">{{i.project_url}} →</p>
                        </div>
                    </a>
                    {% endfor %}
                    
                    {% comment %} <a href="https://burgir-nextjs.vercel.app/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🍔 Burgir</h3>
                                <p>2024</p>
                            </div>
                            <p>A food brand landing page <br/><br/>Used: NextJS, TailwindCSS</p>
                            <p class="something">~/burgir.vercel.app →</p>
                        </div>
                    </a>
                    

                    <a href="https://brainwave-ai-nextjs.vercel.app/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🤖 Brainwave</h3>
                                <p>2024</p>
                            </div>
                            <p>A modern looking brand landing page <br/><br/>Used: NextJS, TailwindCSS</p>
                            <p class="something">~/brainwave-ai.vercel.app →</p>
                        </div>
                    </a>

                    <a href="https://modern-personal-brand-portfolio.vercel.app/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>📁 Modern Portfolio</h3>
                                <p>2024</p>
                            </div>
                            <p>A modern personal brand portfolio <br/><br/>Used: NextJS, TailwindCSS</p>
                            <p class="something">~/modern-portfolio.vercel.app →</p>
                        </div>
                    </a>

                    <a href="https://next-personal-brand-portfolio.vercel.app/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🪪 Personal Brandfolio</h3>
                                <p>2024</p>
                            </div>
                            <p>A user friendly brand portfolio <br/><br/>Used: NextJS, TailwindCSS</p>
                            <p class="something">~/personal-brand.vercel.app →</p>
                        </div>
                    </a>

                    <a href="https://next-vcard-portfolio.vercel.app/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>📜 Vcard Portfolio <br/><br/>Used: NextJS, TailwindCSS</h3>
                                <p>2024</p>
                            </div>
                            <p>A user friendly vcard portfolio <br/><br/>Used: NextJS, TailwindCSS</p>
                            <p class="something">~/vcard.vercel.app →</p>
                        </div>
                    </a>

                    <a href="https://wearvista.shop/" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🛍️ WearVista Ecommerce</h3>
                                <p>2023</p>
                            </div>
                            <p>A fully functional ecommerce site <br/><br/>Used: HTML, CSS, JS</p>
                            <p class="something">~/wearvista.shop →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/food-network" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🍇 Food Network</h3>
                                <p>2023</p>
                            </div>
                            <p>A food blog React/NextJS frontend <br/><br/>Used: NextJS, TailwindcSS</p>
                            <p class="something">~/github.io/food-network →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/portfolio-1.0" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>📄 Portfolio</h3>
                                <p>2023</p>
                            </div>
                            <p>My first minimal portfolio ( this one )<br/><br/>Used: HTML, CSS, JS</p>
                            <p class="something">~/github.io/minimal-portfolio →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/flower-ecommerce" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>💐 Flower Ecommerce</h3>
                                <p>2023</p>
                            </div>
                            <p>A flower ecommerce frontend <br/><br/>Used: HTML, CSS</p>
                            <p class="something">~/github.io/flower-ecommerce →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/pokemon-gallery" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🌌 Pokemon Gallery</h3>
                                <p>2023</p>
                            </div>
                            <p>A simple Pokémon Gallery <br/><br/>Used: HTML, CSS</p>
                            <p class="something">~/github.io/pokemon →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/tribute-page" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>📃 Tribute Page</h3>
                                <p>2023</p>
                            </div>
                            <p>Tribute to Jack Maple <br/><br/>Used: HTML, CSS</p>
                            <p class="something">~/github.io/jack-maple →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/blank-coffee" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🍵 Cafe Menu</h3>
                                <p>2023</p>
                            </div>
                            <p>A caffee menu <br/><br/>Used: HTML, CSS</p>
                            <p class="something">~/github.io/blank-coffee →</p>
                        </div>
                    </a>

                    <a href="https://github.com/sorenblank/orion-alpha" target="_blank">
                        <div class="frame">
                            <div class="title-line">
                                <h3>🤖 Orion Bot</h3>
                                <p>2021</p>
                            </div>
                            <p>My first vertified Discord bot <br/><br/>Used: Discord.py, Python</p>
                            <p class="something">~/github.io/orion-alpha →</p>
                        </div>
                    </a> {% endcomment %}

                    
                </div>


                <a class="anchor" href="{{global.github_link}}"><p>See more ~</p></a>
            </div>
        </div>
        </section>
        
    </main>

    {% include "temp/footer.html" %}
    {% endblock content %}

    {% block js_file %}
    
    {% include "temp/js.html" %}
    {% endblock js_file %}